.app{
  display: flex;
  justify-content: center;
}

.app .container{
  width: 1024px;
}

/* Auth styles: Login & Register */
.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4f5b66;

}

.auth-header{
  font-size: 20px;
  color: #dbbdc1;
  margin-bottom: 20px;
}

.auth-form{
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  gap: 10px;
  width: 200px;
  min-height: 200px;;
}

.auth-form input{
  padding: 10px;
  border: none;
  border-bottom: 1px solid #4f5b66;
}

.auth-form button{
  padding: 10px;
  border: none;
  background-color: #dbbdc1;
  cursor: pointer;
  color: white;
}

.auth-form span{
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.auth-form p{
  text-align: center;
  color: red;
  font-size: 12px;
}

/* Navigation styles */

.nav .container{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 100px;
}

.nav-items{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-items span{
  cursor: pointer;
}

.nav-link{
  color: inherit;

}

/* Footer styles */

.footer {
  padding: 10px 0;
  height: 30px;
  text-align: center;
}